<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anitan</title>
    <link rel="stylesheet" href="/components/style.css">
    <link rel="stylesheet" href="/components/script.js">
</head>
<header class="header">
    <h1>Ani<b class="header__titulo">tan</b></h1>
    <a>Catalogo</a>
    <div class="header__lupa">
        <button id="header__botao__lupa" class="header__botao__lupa" type="button" aria-label="Abrir pesquisa" aria-expanded="false" aria-controls="search-input">
            <img src="/assets/lupa_header.svg" alt="Lupa para pesquisa">
        </button>
        <form id="header__formulario__pesquisa" class="header__formulario__pesquisa" role="search">
            <input id="header__input__pesquisa" class="header__input__pesquisa" type="search" placeholder="Pesquisar..." aria-label="Campo de pesquisa">
        </form>
    </div>
</header>
<body>
    
</body>
</html>